.jumbotron{
    background-color: lightgrey;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero_1.jpg");
    padding: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
    padding-top: 75px;
}

.active {
    background-color: white;
}


iframe{
    display: flex;
    margin: 0 auto;
}
.Statements{ 
    position: relative;
    text-align: center;
    padding: 100px 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;


  }

  .grid-item{
    background-color: black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  
  }

  .grid-item img{
      width: 100%;
      height: auto;
  }

  .grid-item h4{
      color: white;
  }

  .competitorAnalysis p{
      color: white;
  }

  .competitorAnalysis h4{
                text-align: center;
                padding: 50px;
  }

  .competitorAnalysis img{
    max-width: 100%;
    height: auto;
}

  .grid-items{
      padding: 20px;
      
  }

  .grid-items h4{
            padding-bottom: 20px;
            text-align: center;
  }

  .grid-items p{
            padding-right: 100px;
            text-align: center;
  }

  .grid-items img{
    max-width: 100%;
    height: auto;

  }

  .figma{
      padding-top: 50px;
      max-width: 100%;
      height: auto;
  }

  .userPersona{
    margin: auto;
    text-align: center;
  }

  .userPersona h4{
      padding: 50px;
  }

  .userPersona p{
      color: #696767;
  }

  .mockUp h4{
            padding: 50px;
            margin:auto;
            text-align: center;
  }

  .majorScreens img{
    max-width: 100%; 
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

    
  


  @media screen and (max-width: 500px) {
    .grid-item {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .grid-items{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .userPersona img{
        max-width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
      }
    

  }